/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&display=swap');

/* Common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------- Header styles------------ */
.nav {
    background-color: #562EFF;
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    height: 94px;
    text-align: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo img {
    width: 40.42px;
    height: 51px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.menu-bar {
    display: flex;
    align-items: center;
    gap: 36px;
}

.menu ul {
    display: flex;
    gap: 36px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.profile img {
    width: 51px;
    height: 51px;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*---------------- Top players styles---------------- */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1f 1f 1f; */
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* ---------------Top blog styles---------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*----------------- Courses styles------------------------ */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

.course-duration {
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    font-size: 14.6913px;
    padding: 5px 10px;
}

/*---------------------- Media query----------------------- */
/* -----------------Mobile device------------------------- */
@media only screen and (max-width:688px) {
    
    .nav{
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
        padding-top: 15px;
    }
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }
}

/*------------------- Tablet device-------------------- */
@media only screen and (min-width:689px) and (max-width:992px) {
    .nav{
        
        width: 100%;
    }
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);

    }

}